            /*Это заголовок H2*/
            
            h2 {
                color: #242052;
                font-size: 35px;
                border: 2px;
                text-align: center;
            }
            /*Это абзац*/
            
            p {
                color: #282550;
                font-size: 110%;
                text-align: justify;
                font-family: 'Times New Roman', Times, serif;
                line-height: 20px;
            }
            /*Это курсив*/
            
            i {
                color: #353257;
            }
            /*Это жирный*/
            
            b {
                color: #373363;
            }
            /*Это ссылки*/
            
            a:visited {
                color: rgb(107, 128, 107);
            }
            
            a:hover {
                color: green;
            }
            
            a:active {
                color: blue;
            }
            
            div p {
                color: yellowgreen;
                width: 1200px;
                height: 200px;
                border: 1px solid red;
                background-image: url(../images/backgrounde.png);
                background-repeat: no-repeat;
                background-position: center -600px;
            }